system:
  display:
    display_w: 800
    display_h: 480

modules:
  panadapter:
    type: rtl_fft
    display_name: panadapter
    config:
      host: 172.17.0.3
      port: 45362

  gpsd:
    type: gpsd
    display_name: GPS Status
    config:
      host: 172.17.0.3

  modem:
    type: lte_status
    display_name: 4G Status
    config:
      backend: rooter
      host: 172.17.0.254
      username: root
      password: example

  logviewer:
    type: systemd_log_viewer
    display_name: Radioconsole Logs
    config:
      host: 172.17.0.185
      services:
        - radioconsole
      commands:
        restart: sudo service radioconsole restart
        update: cd radioconsole; git pull
        status: cd radioconsole; git status
        ifconfig: /sbin/ifconfig
        reboot: sudo reboot

  carpi_logs:
    type: systemd_log_viewer
    display_name: CarPi Logs
    config:
      host: 172.17.0.3
      services:
        - waterfall_server
        - auto_rx
        - direwolf
      filter_lines:
        - "Can't get address for IGate server"
      commands:
        dw_start: sudo service direwolf start
        dw_stop: sudo service direwolf stop
        dw_restart: sudo service direwolf restart
        wf_start: sudo service waterfall_server start
        wf_stop: sudo service waterfall_server stop
        wf_restart: sudo service waterfall_server restart

  carpi_power:
    type: gpio_shutdown_status
    display_name: CarPi Power
    config:
      host: 172.17.0.3

  carpi_dmesg:
    type: log_viewer
    display_name: CarPi dmesg
    config:
      host: 172.17.0.3
      command: journalctl -f -n 100 --dmesg --no-hostname
      commands:
        lsusb: lsusb -t
        reboot: sudo reboot

  raspi_status:
    type: raspi_status
    display_name: Raspberry Pi Status
    config:
      refresh_seconds: 1
      line_height: 32
      hosts:
        - host: 172.17.0.185
        - host: 172.17.0.3

  winlink:
    type: systemd_log_viewer
    display_name: WinLink controls
    config:
      host: 172.17.0.3
      services:
        - pat
        - ardopc
        - rigctld
      filter_lines:
        - 'Main.KeyPTT'
        - 'Input peaks'
        - 'Acquire2ToneLeaderSymbolFraming'
        - 'Frame Decode type'
        - 'poor frame type decode'
        - 'Frame Type Decode Fail'
        - 'Time since received'
        - 'EnvelopeCorrelator'
        - 'Acquire2ToneLeaderSymbolFraming'
        - 'Frame Type Decode'
        - 'ComputeQualityAvg'
        - 'Prior-Offset'
        - 'MEMARQ Flags'
      commands:
        start_winlink: sudo service waterfall_server stop; sudo /root/USBPacket.sh; sudo service ardopc start; sudo service rigctld start
        stop_winlink: sudo service ardopc stop; sudo service rigctld stop; sudo /root/USBVoice.sh; sudo service waterfall_server start

  ardop:
    type: ardop_status
    display_name: ARDOP Controls
    config:
      host: 172.17.0.3

  direwolf:
    type: direwolf_status
    display_name: Direwolf Controls
    config:
      host: 172.17.0.3
      aprs_monitor: N0CALL
      aprs_ssid: 15
      tx_issue_time: 900

  direwolf_config:
    type: systemd_log_viewer
    display_name: DireWolf config
    config:
      host: 172.17.0.3
      services:
        - direwolf
        - direwolf-digi
      show_service_name: False
      commands:
        digipeter_mode: sudo service waterfall_server stop; sudo service gpio_shutdown stop; sudo service direwolf stop; sudo /root/FMPacket.sh; sudo service direwolf-digi start; sudo service waterfall_server start
        beacon_mode: sudo service waterfall_server stop;sudo service gpio_shutdown start; sudo service direwolf-digi stop; sudo /root/USBVoice.sh; sudo service direwolf start; sudo service waterfall_server start
        stop_direwolf: sudo service direwolf stop; sudo service direwolf-digi stop
        tx_test_mode: sudo timeout -v -s INT 5 direwolf -x -t 0 -c /root/direwolf.conf

  display_config:
    type: log_viewer
    display_name: Display config
    config:
      host: 172.17.0.185
      commands:
       '32': sudo sh -c 'echo 32 > /sys/class/backlight/rpi_backlight/brightness'
       '64': sudo sh -c 'echo 64 > /sys/class/backlight/rpi_backlight/brightness'
       '96': sudo sh -c 'echo 96 > /sys/class/backlight/rpi_backlight/brightness'
       '128': sudo sh -c 'echo 128 > /sys/class/backlight/rpi_backlight/brightness'
       '160': sudo sh -c 'echo 160 > /sys/class/backlight/rpi_backlight/brightness'
       '192': sudo sh -c 'echo 192 > /sys/class/backlight/rpi_backlight/brightness'
       '224': sudo sh -c 'echo 224 > /sys/class/backlight/rpi_backlight/brightness'
       '255': sudo sh -c 'echo 255 > /sys/class/backlight/rpi_backlight/brightness'

  services:
    type: systemd_status
    display_name: "CarPi services"
    config:
      host: 172.17.0.3
      services:
        - freeselcall
        - direwolf
        - gpsd
        - waterfall_server
        - ardopc
        - auto_rx
        - chasemapper
        #- lightdm
        - pat

waterfall_server:
  listen_port: 45362
  device_serial: '00000007'
  if_freq: 124488500 # 124487000 + 1500
  sample_rate: 1200000
  output_path: /dev/shm/